body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.25;
    background-color: white;
}
@media (min-width: 420px) {
    body {
        font-size: 18px;
    }
}

h1, h2, h3 {
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    margin: 0 0 1rem;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.5em;
}
p {
    margin: 1rem 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
b {
    font-weight: 600;
}

.nav {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1em 0;
}
.nav__inner {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1em;
}
.logo {
    line-height: 0.9;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
.logo.logo--top {
    color: #149676;
}
.logo.logo--bottom {
    color: white;
}

.header {
    display: block;
    padding: 3em 0;
    background-color: #02a489;
    color: white;
}
.header__inner {
    padding: 0 1em;
}
.header__inner,
.standout {
    margin: 0 auto;
    max-width: 800px;
}
.header__posters {
    float: right;
    width: 180px;
    margin-left: 1em;
    display: none;
}
@media (min-width: 650px) {
    .header__posters {
        display: block;
    }
}

.header__text {
    max-width: 450px;
}

.standout {
    margin-bottom: 4rem;
}

.standout__img {
    max-width: 300px;
    margin: 0 auto 1em;
}

@media (min-width: 820px) {
    .standout {
        display: table;
        width: 100%;
    }
    .standout__img,
    .standout__text {
        display: table-cell;
        vertical-align: middle;
    }

    .standout__img {
        width: 40%;
        max-width: none;
    }
    .standout__text {
        width: 60%;
        box-sizing: border-box;
        padding-left: 2rem;
    }
}

.main {
    display: block;
    padding: 2rem 1rem 0;
}
.main h2 {
    color: #02a489;
}
.main__section {
    max-width: 650px;
    margin: 0 auto;
}

.quote {
    position: relative;
    display: block;
    margin: 2rem 0;
    padding: 0;
}
.quote__icon {
    float: left;
    margin: -15px 10px 0 0;
}
@media (min-width: 820px) {
    .quote__icon {
        position: absolute;
        right: 100%;
        margin: 0 15px 0 0;
    }
}
.quote__author {
    font-size: 0.9em;
    color: #808080;
    margin-top: -0.5rem;
}
.list {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}
.list__item {
    position: relative;
    margin-bottom: 1rem;
}
.list__item__bullet {
    float: left;
    width: 40px;
    margin-right: 10px;
}
@media (min-width: 500px) {
    .list__item {
        padding-left: 50px;
    }
    .list__item__bullet {
        position: absolute;
        left: 0;
        margin-top: -10px;
    }
}
@media (min-width: 820px) {
    .list__item  {
        padding-left: 0;
    }
    .list__item__bullet {
        left: auto;
        right: 100%;
        margin-top: -15px;
        margin-right: 15px;
        width: 50px;
    }
}
.list__item__title {
    font-weight: 600;
    margin-bottom: -0.6em;
}

.share-btn {
    display: inline-block;
    width: 200px;
    line-height: 50px;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.share-btn.share-btn--fb {
    background-color: #3b5a9c;
}
.share-btn.share-btn--twitter {
    background-color: #5da7eb;
}

.footer {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
}

.footer-logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    margin: 10px;
}
@media (min-width: 500px) {
    .footer-logo {
        width: 100px;
    }
}
